*{padding: 0; margin: 0;}
header{width: 98vw;height: 5vh; background-repeat: no-repeat;text-align: center; }
header > img {max-height: 100%; 10vh;}
nav{position:absolute;left: 3vw; top:2vh }





/* ex-extra small devices-ex */
@media (max-width: 575.98px){
    Rules
}
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* small devices-sm */
@media (min-width: 576px) and (max-width: 767.98px){
    Rules
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* medium devices-me */
@media (min-width: 768px) and (max-width: 991.98px){
    Rules
}

/* ************************************************* */

/* large devices-la */
@media (min-width: 992px) and (max-width: 1199.98px){
    Rules
}

/* exta large devices */
@media (min-width: 1200px){
    Rules
}